/**
 * Cards
 *
 * @format
 */

@use '../abstracts' as *;

.circle {
	float: left;
	margin: 10px;
	shape-outside: circle(50%);
	display: grid;
	place-items: center;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: $very-peri;
	color: #cdb97d;
}

@property --lewd {
	syntax: '<color>';
	inherits: false;
	initial-value: $very-peri;
}

.mango {
	background-color: var(--lewd);
}
