/**
 * Cards
 *
 * @format
 */

@use '../abstracts' as *;

.circle {
	float: left;
	margin: 10px;
	shape-outside: circle(50%);
	display: grid;
	place-items: center;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	background-image: radial-gradient(
		map-get($radial, 'color1'),
		map-get($radial, 'color2'),
		map-get($radial, 'color3')
	);
	color: #004000;
}
.circle:hover {
	background-image: radial-gradient(
		map-get($radial, 'color1'),
		map-get($radial, 'color2'),
		map-get($radial, 'color2')
	);
}

@property --lewd {
	syntax: '<color>';
	inherits: false;
	initial-value: $very-peri;
}

.mango {
	background-color: var(--lewd);
}
