/*list properties */

@use '../abstracts' as *


.item
	padding-right: 1rem
	font-size: $font-size-base + 2

.top
	display: flex
.inliner
	display: inline
	justify-content: space-around
	align-items: center


.inline
	display: flex
	width: 100%
	justify-content: space-around
	align-items: center

.common
	background: transparent
	padding: 5px 5px
	border: none

.active
	background: red

.inline button.active
	background: red

.tabcontent
	display: none
	padding: 6px 12px
	border: 1px solid #ccc
	border-top: none
